<nav class="navbar">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
				<i class="fa fa-fw fa-bars fa-2x"></i>
			</button>
			<a class="navbar-brand" href="#">My<strong>Fat</strong>Wallet</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right text-uppercase">
				<li><a ui-sref="website-contact">Contact</a></li>
				<li><a ui-sref="website-about">About</a></li>
				<li><a ui-sref="website-signup">Sign Up</a></li>
			</ul>
		</div>
	</div>
</nav>