{% extends "app/main.html" %}

{% block container %}
<div class="container">
	<div class="row">
		<div class="col-sm-6 col-sm-offset-3 col-xs-12 transaction-invoice">
			<div class="header">
				<h1>Merchant</h1>
				<h4>Address</h4>
			</div>
			<hr>
			<div class="items">
				<ul class="list-group list-unbordered">
					<li class="list-group-item">Bee Hoon 
						<strong>$4.50</strong>
					</li>
					<li class="list-group-item"></li>
					<li class="list-group-item"></li>
				</ul>
			</div>
			<div class="contact">
				<section>Telephone</section>
				<section>Email</section>
				<section>Website</section>
			</div>
		</div>
	</div>
</div>
{% endblock %}
